# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 35f40fcb349ae776f63ae45693ac6ccb8e5c62ea7ce549a2c20be54450b52718bc7dd636f1ed369176a2bd2ad82b707acc44ad71d9a7672b67e7fde5a5edc5c3

test:
  secret_key_base: aa73783322637f193a54cd7ab31abbefec3670f0fceef1b2ccee47518801df3b5bb0eb5372d0626cbd0bb3d6df24b883477b38faa4cfd3e9ebfb1610c224bc0a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
